In [1]:
mylist = [1,2,4,5,6,7,8,9]

for item in mylist:
    print(item)

1
2
4
5
6
7
8
9

In [2]:
tup = (1,3,4,5,6,2)

for item in tup:
    print(item)

1
3
4
5
6
2

In [3]:
list = [(1,2),(3,6),(2,9)]

for item in list:
    print(item)

(1, 2)
(3, 6)
(2, 9)

In [4]:
for a,b in list:  #tuple unpacking
    print(a)
    print(b)

1
2
3
6
2
9

In [5]:
mystring = 'abcdefghijklmnopqrstuvwxyz'

for _ in mystring:
    print("Billie")

Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie
Billie

In [6]:
n = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for num in n:
    if num % 2 == 0:
        print(f"{num} is an even number")
    else:
        print(f"{num} is an odd number")

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number
16 is an even number
17 is an odd number
18 is an even number
19 is an odd number
20 is an even number

In [7]:
d = {'k1':12,'k2':25,'k3':43}

for value in d.items():
    print(value)

('k1', 12)
('k2', 25)
('k3', 43)

In [8]:
d = {'k1':12,'k2':25,'k3':43}

for value in d.values():
    print(value)

12
25
43

In [9]:
d = {'k1':12,'k2':25,'k3':43}

for value in d.keys():
    print(value)

k1
k2
k3

In [10]:
d = {'k1':12,'k2':25,'k3':43}

for value in d:
    print(value)

k1
k2
k3

WHILE LOOP

In [5]:
n = 0
count = 0

while n<7:
    print(n)
    count += 1
    n += 1
print(f"times of loop {count}")

0
1
2
3
4
5
6
times of loop 7