STRING FORMATTING USING .format() method

In [10]:
s = "string"

In [11]:
print("this is an example of {a}".format(a = s))

this is an example of string

Inserting strings into placeholders using .format() method

In [12]:
print("{0} {1} {2} {3}".format("brown","fox","a","small"))

brown fox a small

In [13]:
print("{2} {3} {0} {1}".format("brown","fox","a","small"))

a small brown fox

In [14]:
print("{0} {1} {2} {3}".format("a","b","c","d"))

a b c d

Float formatting as follows {value:width:precision f}

In [15]:
result = 100/27

In [16]:
result

3.7037037037037037

In [20]:
print("the result was {}".format(result))

the result was 3.7037037037037037

In [21]:
print("the result was {r}".format(r = result))

the result was 3.7037037037037037

In [28]:
print("the result was {r:2.6f}".format(r = result))

the result was 3.703704

In [32]:
s = "sabari "

In [34]:
print("his name is {}".format(s))

his name is sabari

In [33]:
print(f"his name is {s}")

his name is sabari

In [1]:
t = (1,'sabari','Manikandan',3,4,5,6,7,8)

In [2]:
t

(1, 'sabari', 'Manikandan', 3, 4, 5, 6, 7, 8)

In [3]:
t[0]

1

In [4]:
t[0]  = 25

TypeError: 'tuple' object does not support item assignment