___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    elif a%2 == 1 or b%2 == 1:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    y = text.split()
    return y[0][0] == y[1][0]

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [10]:
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1==20 or n2==20

In [11]:
# Check
makes_twenty(10,10)

True

In [13]:
# Check
makes_twenty(70,0)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [16]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize()+second_half.capitalize()

In [17]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [18]:
def master_yoda(text):
    y = text.split()
    reversed_list = y[::-1]
    return ' '.join(reversed_list)

In [19]:
# Check
master_yoda('I am home')

'home am I'

In [20]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [21]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n) <=10

In [22]:
# Check
almost_there(104)

True

In [23]:
# Check
almost_there(150)

False

In [24]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [84]:
def has_33(nums):
    n = 0
    while n< len(nums)-1:
        if nums[n] == nums[n+1]:
            return True
        else:
            n = n+1
            pass
    return False

In [85]:
# Check
has_33([1, 3, 3])

True

In [88]:
# Check
has_33([1, 3, 1, 3])

False

In [87]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [54]:
def paper_doll(text):
    s = ''
    for x in text:
        s = s+(x*3)
    return s

In [55]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [56]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [99]:
def blackjack(a,b,c):
    d = a+b+c
    if d <= 21:
        return d
    elif d > 21:
        if a == 11 or b == 11 or c == 11:
            d = d - 10
            if d > 21:
                return 'BUST'
            else:
                return d
        return 'BUST'

In [100]:
# Check
blackjack(5,6,7)

18

In [101]:
# Check
blackjack(9,9,9)

'BUST'

In [103]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [119]:
def summer_69(arr):
    if 6 and 9 not in arr:
        return sum(arr)
    else:
        six = arr.index(6)
        nine = arr.index(9)
        del arr[six:nine+1]
        return sum(arr)

In [120]:
# Check
summer_69([1, 3, 5])

9

In [121]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [122]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [31]:
def spy_game(nums):
    n = 0
    while n<len(nums)-1:
        if nums[n] == 0:
            if nums[n+1] == 0 and nums[n+2] == 7:
                return True
            else:
                n += 1
        else:
            n += 1
    return False

# solution - 2
# def spy_game(nums):
#     temp = [0,0,7,'s']
#     for num in nums:
#         if num == temp[0]:
#             temp.pop(0)
#     return len(temp) == 1

In [32]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [33]:
# Check
spy_game([1,0,2,4,0,0,7])

True

In [34]:
# Check
spy_game([1,7,2,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [41]:
# def count_primes(num):
#     count = 0
#     for x in range(2,num+1):
#         prime  = True
#         for i in range(2,x):
#             if x%i == 0:
#                 prime = False
#         if(prime):
#             count += 1
#     return count

# solution - 2
def count_primes(num):
    #checking the number
    if num<2:
        return 0
    primes = [2]
    x = 3
    while x<=num:
        for y in primes:
            if x%y == 0:
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    return len(primes)

In [42]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [154]:
def print_big(letter):
    patterns = {1:'*****',2:'  *  ',3:'*   *',4:' * * ',5:'**** ',6:'    *',7:'*    ',8:' ****',9:'* * *',10:' *  *',
                11:'   **',12:'*  * ',13:'**   ',14:'** **',15:'**  *',16:'*  **',17:' *** ',18:'***  '}
    alphabets = {'A':[2,4,1,3,3],'B':[5,3,1,3,5],'C':[8,7,7,7,8],'D':[5,3,3,3,5],'E':[1,7,1,7,1],'F':[1,7,1,7,7],
                 'G':[8,7,9,3,8],'H':[3,3,1,3,3],'I':[1,2,2,2,1],'J':[1,6,6,10,11],'K':[3,12,13,12,3],'L':[7,7,7,7,1],
                 'M':[3,14,9,3,3],'N':[3,15,9,16,3],'O':[17,3,3,3,17],'P':[5,3,9,7,7],'Q':[],'R':[7,7,7,7,1]}
    for pattern in alphabets[letter.upper()]:
        print(patterns[pattern])

In [155]:
print_big('q')

  *
*   *
*   *
* * *
    *

## Great Job!